<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL_DAL.Properties.Settings.cellphonesConnectionString"
            connectionString="Data Source=.;Initial Catalog=cellphones;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.cellphonesConnectionString1"
            connectionString="Data Source=167.99.69.55;Initial Catalog=cellphones;User ID=dragon;Password=q`@75JTQmj4tM!C$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>