@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.scroll-to-top{
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  border: 2px solid #222;
  background-color: white;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.scroll-to-top i{
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
}
.scroll-to-top.hidden{
  display: none;
}
@media screen and (max-width:1205px) {
  .scroll-to-top i{
    display: block;
  }
}