.all-info{
    background-color: white;
}
.all-info .info{
background-color: #fff;
 box-shadow: 0 5px 15px 0 rgb(0, 0, 0, 0.25);
 border-radius: 20px;
 position: relative;
}
.all-info .info .btn-back{
    position: absolute;
}
.all-info .info .btn-back button{
    width: fit-content;
    height: fit-content;
}
.all-info .info form .title p.text-center{
    font-size: 2rem;
    color: rgb(81, 81, 81);
}
.all-info .info form button{
    align-items: center;
    justify-content: center;
    height: 3rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 2rem;
}
@media screen and (max-width: 1021px){
    .all-info .info form .title p.text-center{
        font-size: 1rem;
    }
}
@media screen and (max-width: 675px){
    .all-info .info form .title p.text-center{
        text-align: right!important;
    }
}
@media screen and (max-width: 537px){
    .all-info .info form .title p.text-center{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 465px){
    .all-info .info form .title p.text-center{
        font-size: 0.5rem;
    }
}
@media screen and (max-width: 455px){
    .all-info .info form label{
        margin-top: 2rem;
        font-size: 0.8rem;
    }
}